@charset "UTF-8";
html,
body,
div,
span,
section,
header,
hgroup,
nav,
menu,
main,
article,
aside,
figure,
figcaption,
footer,
time,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
mark,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
label,
legend,
table,
caption,
thead,
tbody,
tr,
th,
td,
tfoot,
details,
summary,
canvas,
embed,
object,
iframe,
output,
ruby {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
menu,
section {
  display: block; }

html,
input,
textarea {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

*,
*::after,
*::before {
  box-sizing: inherit; }

address,
i,
em,
cite,
var {
  font-style: italic; }

b,
strong,
th {
  font-weight: 600; }

del,
s {
  text-decoration: line-through; }

u {
  text-decoration: underline; }

abbr[title],
cite,
dfn[title] {
  border-bottom: 1px dotted #e9bdee;
  text-decoration: none; }

abbr[title],
dfn[title] {
  cursor: help; }

nav > ul,
nav > ol,
ul.menu,
ol.menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav > ul a,
nav > ol a,
ul.menu a,
ol.menu a {
  display: block; }

html,
body {
  scroll-behavior: smooth; }

::selection {
  background: #e43c96;
  color: #fff; }

::-moz-selection {
  background: #e43c96;
  color: #fff; }

body,
button,
input,
select,
textarea {
  font-size: 16px;
  color: #281c33;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a {
  transition: all 150ms ease; }

a, a:link, a:visited {
  color: #e9bdee; }

.no-js a:hover,
.no-js a:focus,
.js.no-touchevents a:hover,
.js.no-touchevents a:focus,
.js.touchevents a:active {
  color: #e2a9e9; }

a[href^=tel] {
  color: inherit;
  text-decoration: dotted; }

h1,
.u-h1,
h2,
.u-h2,
h3,
.u-h3,
fieldset,
.no-js .u-responsive-video::before,
h4,
.u-h4,
h5,
.u-h5,
h6,
.u-h6 {
  clear: both;
  color: #4a335f; }

h1,
.u-h1 {
  font-size: 2.8125rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1; }

@media (min-width: 30em) {
  h1,
  .u-h1 {
    font-size: calc(2.8125rem + 0.9375 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h1,
  .u-h1 {
    font-size: calc(2.8125rem + 0.9375 * 1rem); } }

h2,
.u-h2 {
  font-size: 2.5rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1; }

@media (min-width: 30em) {
  h2,
  .u-h2 {
    font-size: calc(2.5rem + 0.75 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h2,
  .u-h2 {
    font-size: calc(2.5rem + 0.75 * 1rem); } }

h3,
.u-h3,
fieldset,
.no-js .u-responsive-video::before {
  font-size: 2.125rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25; }

@media (min-width: 30em) {
  h3,
  .u-h3,
  fieldset,
  .no-js .u-responsive-video::before {
    font-size: calc(2.125rem + 0.625 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h3,
  .u-h3,
  fieldset,
  .no-js .u-responsive-video::before {
    font-size: calc(2.125rem + 0.625 * 1rem); } }

h4,
.u-h4 {
  font-size: 1.375rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.48px; }

@media (min-width: 30em) {
  h4,
  .u-h4 {
    font-size: calc(1.375rem + 0.1875 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h4,
  .u-h4 {
    font-size: calc(1.375rem + 0.1875 * 1rem); } }

h5,
.u-h5 {
  font-size: 1.125rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.38px; }

@media (min-width: 30em) {
  h5,
  .u-h5 {
    font-size: calc(1.125rem + 0.125 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h5,
  .u-h5 {
    font-size: calc(1.125rem + 0.125 * 1rem); } }

h6,
.u-h6 {
  font-size: 1.5625rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.5; }

@media (min-width: 30em) {
  h6,
  .u-h6 {
    font-size: calc(1.5625rem + 0.125 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  h6,
  .u-h6 {
    font-size: calc(1.5625rem + 0.125 * 1rem); } }

.tagline {
  font-size: 0.75rem;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  line-height: 2;
  letter-spacing: 4px; }

@media (min-width: 30em) {
  .tagline {
    font-size: calc(0.75rem + 0.125 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  .tagline {
    font-size: calc(0.75rem + 0.125 * 1rem); } }

p,
li,
dt,
dd,
th,
td,
address,
input,
button,
select,
textarea {
  font-size: 1rem; }

@media (min-width: 30em) {
  p,
  li,
  dt,
  dd,
  th,
  td,
  address,
  input,
  button,
  select,
  textarea {
    font-size: calc(1rem + 0.125 * (100vw - 30em) / 34); } }

@media (min-width: 64em) {
  p,
  li,
  dt,
  dd,
  th,
  td,
  address,
  input,
  button,
  select,
  textarea {
    font-size: calc(1rem + 0.125 * 1rem); } }

p,
ul,
ol,
dl,
address,
form,
figure,
table {
  margin-bottom: 1.6em; }

ol ol,
ul ul,
ul ol,
ol ul {
  margin-bottom: 0; }

blockquote {
  quotes: none;
  position: relative;
  text-align: center;
  padding: 2rem;
  max-width: 44.5rem;
  margin: auto; }

@media (min-width: 620px) {
  blockquote {
    padding: 2rem 3rem; } }

blockquote footer {
  margin-top: 1.5rem; }

blockquote cite {
  border-bottom: 0; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  height: 0;
  line-height: 1;
  margin: 1.6em 0;
  width: 100%; }

ul,
ol {
  margin-left: 1.5rem; }

ul {
  list-style: square; }

ul ul {
  list-style: disc; }

ul ul ul {
  list-style: circle; }

ol {
  list-style: decimal; }

ol ol {
  list-style: upper-alpha; }

ol ol ol {
  list-style: upper-roman; }

ol ol ol ol {
  list-style: lower-alpha; }

ol ol ol ol ol {
  list-style: lower-roman; }

dl {
  border-top: 1px solid #4a335f; }

dt,
dd {
  border-left: 1px solid #4a335f;
  border-right: 1px solid #4a335f;
  padding: 0.75em 1em 0.5625em; }

dt {
  border-bottom: 1px dotted #4a335f;
  font-weight: 600; }

dd {
  border-bottom: 2px solid #4a335f; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

table th {
  border-bottom: 2px solid #4a335f;
  padding: 0.5em;
  text-align: left; }

table td {
  border-top: 1px solid #4a335f;
  padding: 0.5em; }

table caption {
  text-align: center; }

table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; }

strong,
b,
em,
i,
cite,
small,
sup,
sub {
  letter-spacing: 0.03125em; }

sub,
sup {
  font-size: 75%;
  line-height: 1;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr[title] {
  font-size: 75%;
  font-weight: 600;
  letter-spacing: 0.125em;
  text-transform: uppercase; }

var {
  color: #4f4f4f;
  display: inline-block;
  padding: 0 0.125em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

pre code {
  border-bottom: 1px solid #ccc;
  border-left: 5px solid #e43c96;
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 1.375em 1.25em 1.3125em; }

code,
kbd,
samp,
mark,
ins {
  display: inline-block;
  line-height: 1.5;
  padding: 0.125em 0.25em 0; }

code,
kbd,
samp {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1) inset;
  font-family: Source Code Pro, Anonymous Pro, Consolas, Envy Code R, Ubuntu Mono, Inconsolata-g, Inconsolata, monospace; }

code {
  color: #e43c96; }

mark {
  background-color: #ff9; }

strike,
s {
  color: #ccc; }

del {
  color: red; }

ins {
  background-color: #ccc;
  text-decoration: none; }

small {
  font-size: 87.5%; }

img,
video,
object {
  display: block;
  height: auto;
  max-width: 100%; }

fieldset {
  border: 1.5px solid #ccc;
  border-radius: 0;
  margin-bottom: 1em;
  padding: 1em 1em 0; }

label {
  font-weight: 600; }

input,
textarea {
  border: 0;
  border-bottom: 1.5px solid #ccc;
  border-radius: 0;
  color: #666;
  display: inline-block;
  padding: 0.25em 0.75em;
  transition: all 150ms ease;
  width: 100%;
  margin-bottom: 0.25rem; }

input::placeholder,
textarea::placeholder {
  color: #999;
  font-style: italic; }

input:hover,
textarea:hover {
  border-color: gray;
  outline: none; }

input:focus,
textarea:focus {
  border-color: #999;
  color: #666; }

input[required]:focus, input[required=true]:focus, input[required='required']:focus,
textarea[required]:focus,
textarea[required=true]:focus,
textarea[required='required']:focus {
  border-color: red;
  box-shadow: 0 0 0.5em rgba(255, 0, 0, 0.5);
  outline: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

select {
  background-color: #fff;
  background-image: none;
  border: 1.5px solid #ccc;
  border-radius: 0;
  color: #666;
  padding: 0.25em 0.75em;
  width: 100%; }

input[type='file'] {
  line-height: 1; }

input[type='checkbox'],
input[type='radio'] {
  width: auto; }

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  transition: all 150ms ease;
  width: auto; }

input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'] {
  -webkit-appearance: textfield; }

.u-button, .u-button--solid, .u-button:link, .u-button--solid:link, .u-button:visited, .u-button--solid:visited {
  border-radius: 3px;
  display: inline-block;
  padding: 0 2rem;
  text-transform: uppercase;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  line-height: 50px; }

.u-button--solid, .u-button--solid:link, .u-button--solid:visited {
  background-color: #4a335f;
  border-color: #442f57;
  color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.75s;
  text-decoration: none;
  z-index: 2; }

.u-button--solid::before, .u-button--solid:link::before, .u-button--solid:visited::before {
  content: '';
  display: inline-block;
  background: #e9bdee;
  width: 200%;
  padding-top: 200%;
  transform: rotate(-65deg);
  position: absolute;
  left: 150%;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.75s;
  z-index: -1; }

.no-js .u-button--solid:hover,
.no-js .u-button--solid:focus,
.js.no-touchevents .u-button--solid:hover,
.js.no-touchevents .u-button--solid:focus,
.js.touchevents .u-button--solid:active {
  color: #fff; }

.no-js .u-button--solid:hover::before,
.no-js .u-button--solid:focus::before,
.js.no-touchevents .u-button--solid:hover::before,
.js.no-touchevents .u-button--solid:focus::before,
.js.touchevents .u-button--solid:active::before {
  left: 0; }

.u-button--solid--white, .u-button--solid--white:link, .u-button--solid--white:visited {
  background-color: #fff;
  border-color: #ebebeb;
  color: #4a335f; }

.u-button--solid--white::before, .u-button--solid--white:link::before, .u-button--solid--white:visited::before {
  background: #e9bdee; }

.no-js .u-button--solid--white:hover,
.no-js .u-button--solid--white:focus,
.js.no-touchevents .u-button--solid--white:hover,
.js.no-touchevents .u-button--solid--white:focus,
.js.touchevents .u-button--solid--white:active {
  color: #4a335f; }

.u-button--ghost, .u-button--ghost:link, .u-button--ghost:visited {
  background-color: none;
  border: solid 1px #352544;
  color: #4a335f;
  padding: 0 5rem 0 2rem;
  border-radius: 0;
  position: relative;
  transition: all 0.75s;
  text-decoration: none;
  z-index: 2;
  overflow: hidden; }

.u-button--ghost::before, .u-button--ghost:link::before, .u-button--ghost:visited::before {
  content: '';
  display: inline-block;
  background: #4a335f;
  width: 200%;
  padding-top: 200%;
  transform: rotate(-65deg);
  position: absolute;
  left: 150%;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.75s;
  z-index: -1; }

.u-button--ghost::after, .u-button--ghost:link::after, .u-button--ghost:visited::after {
  content: '';
  background: url("/themes/custom/juice/images/arrow.png");
  height: 15px;
  width: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 2rem;
  position: absolute;
  filter: brightness(0) saturate(100%) invert(15%) sepia(17%) saturate(6016%) hue-rotate(215deg) brightness(86%) contrast(92%); }

.no-js .u-button--ghost:hover::before,
.no-js .u-button--ghost:focus::before,
.js.no-touchevents .u-button--ghost:hover::before,
.js.no-touchevents .u-button--ghost:focus::before,
.js.touchevents .u-button--ghost:active::before, .no-js .u-button--ghost:link:hover::before,
.no-js .u-button--ghost:link:focus::before,
.js.no-touchevents .u-button--ghost:link:hover::before,
.js.no-touchevents .u-button--ghost:link:focus::before,
.js.touchevents .u-button--ghost:link:active::before, .no-js .u-button--ghost:visited:hover::before,
.no-js .u-button--ghost:visited:focus::before,
.js.no-touchevents .u-button--ghost:visited:hover::before,
.js.no-touchevents .u-button--ghost:visited:focus::before,
.js.touchevents .u-button--ghost:visited:active::before {
  left: 0; }

.no-js .u-button--ghost:hover,
.no-js .u-button--ghost:focus,
.js.no-touchevents .u-button--ghost:hover,
.js.no-touchevents .u-button--ghost:focus,
.js.touchevents .u-button--ghost:active {
  background-color: #4a335f;
  color: #fff; }

.no-js .u-button--ghost:hover::after,
.no-js .u-button--ghost:focus::after,
.js.no-touchevents .u-button--ghost:hover::after,
.js.no-touchevents .u-button--ghost:focus::after,
.js.touchevents .u-button--ghost:active::after {
  filter: unset; }

.js .u-responsive-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.js .u-responsive-video iframe,
.js .u-responsive-video object,
.js .u-responsive-video embed,
.js .u-responsive-video > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100% !important;
  height: 100% !important; }

.no-js .u-responsive-video {
  padding: 1rem;
  background-color: #666;
  text-align: center; }

.no-js .u-responsive-video::before {
  content: 'Sorry, embedded video players need javascript enabled.';
  width: 100%;
  color: #f2f2f2; }

.no-js .u-responsive-video iframe,
.no-js .u-responsive-video object,
.no-js .u-responsive-video embed,
.no-js .u-responsive-video > div {
  display: none;
  visibility: hidden; }

.u-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

.u-screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

.u-vertical-grid {
  background-image: url("http://basehold.it/i/31/cc0000");
  background-position: 0 8px; }

.region__system {
  padding: 0.5rem; }

.system__message {
  background: #4a335f;
  color: #fff;
  letter-spacing: 0.5px;
  width: 100%;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

.toolbar-menu-administration a {
  font-size: 13px; }

.no-js .toolbar-menu-administration a:hover,
.no-js .toolbar-menu-administration a:focus,
.js.no-touchevents .toolbar-menu-administration a:hover,
.js.no-touchevents .toolbar-menu-administration a:focus,
.js.touchevents .toolbar-menu-administration a:active {
  color: var(--colorGinTitle); }

div[aria-label*='Status message'] {
  background: var(--colorGinPrimary);
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  position: relative; }

#toolbar-bar div.visually-hidden {
  position: relative !important;
  clip: unset;
  height: auto;
  width: auto;
  display: block;
  margin-top: auto;
  margin-bottom: auto; }

#toolbar-bar div.visually-hidden a {
  color: #fff !important; }

.content {
  clear: both; }

.content__main h1:first-child,
.content__main h2:first-child,
.content__main .vertical-rhythm h1:first-child,
.content__main .vertical-rhythm h2:first-child {
  margin-top: 0; }

.content__main h1 {
  margin-top: 1.9375em;
  margin-bottom: 0.5625em; }

.content__main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.75em; }

.content__main h3 {
  margin-top: -0.375em;
  margin-bottom: 1em; }

.content__main h4 {
  margin-top: -0.25em;
  margin-bottom: 0; }

.content__main h5 {
  margin-top: -0.0625em;
  margin-bottom: 0; }

.content__main h6 {
  margin-top: 0;
  margin-bottom: 0; }

.content__main h2 + h3 {
  margin-top: 1.6875em; }

.content__main h3 + h4 {
  margin-top: -0.3125em; }

.content__main p,
.content__main dl,
.content__main address,
.content__main form,
.content__main table {
  margin-bottom: 1.6em; }

.content__main pre {
  margin-top: -0.5em;
  margin-bottom: 1em; }

.content__main pre + h3 {
  margin-top: 1.1em; }

.content__main ul,
.content__main ol {
  margin-bottom: 1.6em; }

.content__main ul ul,
.content__main ul ol,
.content__main ol ul,
.content__main ol ol {
  margin-left: 1.5em;
  margin-bottom: 0; }

.content__main ul li,
.content__main ol li {
  line-height: 1.5;
  padding-bottom: 0.25em; }

.content__main dl dt,
.content__main dl dd {
  line-height: 1.5; }

.content__main code,
.content__main kbd,
.content__main samp {
  font-size: 93.75%; }

.content__main .wysiwyg-image {
  margin: 2rem auto; }

.content__main .wysiwyg-image--icon {
  margin: 0 0 1rem; }

.content__main .wysiwyg-image--half--aligned-center {
  float: center;
  margin: 2rem; }

.content__main .wysiwyg-image--half--aligned-left {
  float: left;
  margin-right: 2rem; }

.content__main .wysiwyg-image--half--aligned-right {
  float: right;
  margin-left: 2rem; }

.content__main .embedded-entity {
  display: flex;
  width: 100%; }

.content__main .embedded-entity.align-center {
  justify-content: center; }

.content__main .embedded-entity.align-left {
  justify-content: flex-start; }

.content__main .embedded-entity.align-right {
  justify-content: flex-end; }

.content__main drupal-media {
  margin: 2rem auto;
  display: flex; }

.content__main drupal-media article {
  width: 100%;
  max-width: 61.625rem;
  margin: auto; }

.content__main .media-library-item__edit {
  width: 100%;
  background-color: var(--colorGinPrimary);
  color: #fff;
  letter-spacing: 0.5px;
  border: 0;
  padding: 0.5rem;
  content: 'Change display style'; }

.content__main .media-library-item__edit:hover {
  cursor: pointer;
  background-color: var(--colorGinPrimaryActive); }

.content__main blockquote p {
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-style: italic;
  color: #e9bdee;
  font-size: 22px;
  line-height: 35px; }

.content__main blockquote p::before {
  content: '“'; }

.content__main blockquote p::after {
  content: '”'; }

.content__main .wysiwyg-text-case--upper {
  text-transform: uppercase; }

.content__main .wysiwyg-text-color--pink {
  color: #e43c96 !important; }

.content__main .wysiwyg-text-color--blue {
  color: #e9bdee !important; }

.content__main .wysiwyg-text-color--purple {
  color: #4a335f !important; }

.content__main .wysiwyg-text-color--gray {
  color: #999 !important; }

.content__main .wysiwyg-text-color--black {
  color: #281c33 !important; }

.content__main .wysiwyg-text-color--white {
  color: #fff !important;
  background: lightgray; }

.block {
  width: 100%;
  z-index: 2147483647; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto; }

.region-container {
  background: #fff; }

.taxonomy-term {
  width: 100%;
  max-width: 69.375rem;
  margin: auto;
  padding: 1.5rem;
  background: #ffe0e5; }
